html, #root, .App {height:100%}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2C2C2C;
  /* background-image:url("https://media0.giphy.com/media/jNCT0DtwX6GFG/source.gif"); */
}

.btn, .btn:focus {
  background-color: #4094ff;
}

.btn:hover {
  background-color: #0047a2;
}

.active {
  color: #4094ff !important;
} 

/* label focus color */
.input-field input:focus + label {
  color: #4094ff !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #4094ff !important;
  box-shadow: 0 1px 0 0 #4094ff !important;
}
/* valid color */
.input-field input.valid {
  border-bottom: 1px solid #4094ff !important;
  box-shadow: 0 1px 0 0 #4094ff !important;
}
/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid #4094ff;
  box-shadow: 0 1px 0 0 #4094ff;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #4094ff;
}

/* label underline focus color */


.input-field textarea:focus {
  border-bottom: 1px solid #4094ff !important;
  box-shadow: 0 1px 0 0 #4094ff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
