#logcard {
    text-align: center;
    width: 45vw;
}

.card {
    margin-top: 17.5vh !important;
}

@media screen and (max-width: 950px) {
    #logcard {
        width: 90vw;
    }
}

.card .card-content .card-title {
    font-weight: bold;
    color: #FFAB40;
}

input#namein:focus, .valid {
    border-bottom: 1px solid #4094ff;
    box-shadow: 0 1px 0 0 #4094ff;
  }
  
input#password:focus, .valid {
    border-bottom: 1px solid #4094ff;
    box-shadow: 0 1px 0 0 #4094ff;
  }
