#navbar {
    position: fixed;
    z-index: 1;
    background-color: #1f1f1f;
}

p {
    float: right;
    color: #FFAB40;
}

nav a {
    padding: 0 1rem;
    font-weight: bold;
    color: #FFAB40;
    font-size: 2rem;
}

