#navbar {
    position: fixed;
    z-index: 1;
    background-color: #1f1f1f;
}

nav p {
    float: right;
    color: #FFAB40;
    padding-right: 90px;
}

nav img {
    height: 2.5rem;
    position: absolute;
    top: 13px;
}

nav #logo {
    padding: 0 1rem;
    font-weight: bold;
    color: #FFAB40;
    font-size: 2.5rem;
}

nav #logout {
    position: absolute;
    right: 0;
    width: 75px;
    background: #FFAB40;
    text-align: center;
}



